@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1rem;
    background-color: black;
}

header {
    background-color: rgb(254, 229, 157);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    top:0;
    z-index: 1;
    margin-bottom: 10px;
}

header > div {
    font-size: 1.8rem;
}

header img {
    width: 40px;
}

main {
    display:flex;
}
nav {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background-color: rgb(255, 209, 70);
    width:25%;
    height:min-content;
    border-radius: 15px;
    margin:10px;
}

nav .menu {
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
    align-items: center;
    display: flex;
}

.menu .checkbox {
    margin-right: 7px;
}

#card_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
}

.item_name {
    font-weight: bold;
    margin:0.5rem;
    
}

.item_tag_box {
    width:70%;
    height: 1rem;
    overflow:hidden;
}

.item_tag {
    font-size: 13px;
    color: gray;
    display: inline-block;
}

.item_tag::before {
    content:'#';
}

.item_img > img {
    width:80%;
}

.item_like {
    position: absolute;
    bottom:0;
    right:0;
    padding:10px;
}

.item_like::before {
    content: '🤍';
}

.item_like:hover::before {
    content: '💙';
}