@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

body {
    font-family: 'Song Myung', serif;
    font-size: 1rem;
    background-color: black;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    top:0;
    z-index: 1;
}

header > h1 {
    font-size: 2rem;
    text-shadow: 5px 5px 5px gray;
}

#hamburger > img {
    width: 3rem;
}

#hamburger:hover .right_nav {
    display: flex;
}

main {
    display:flex;
}

.left_nav {
    flex: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background-color: rgb(255, 209, 70);
    width:200px;
    height:min-content;
    border-radius: 15px;
    margin:0.8rem;
    box-shadow: 7px 7px 5px rgb(148, 98, 50);

}

.left_nav .menu {
    font-size: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
    align-items: center;
    display: flex;
}

.left_nav .menu:hover {
    background-color: rgb(148, 98, 50);
    color:white;
}

.right_nav {
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #ffeaaa;
    width:10rem;
    height:100vh;
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    display: none;
    flex-direction: column;
    gap:1rem;
}

.right_nav .menu:hover {
    color:black;
}

.menu .checkbox {
    margin-right: 0.5rem;
}

#card_section {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 852px) {
    #card_section {
        justify-content: center;
    }
}


.item {
    width:17rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: 0.8rem;
    box-shadow: 7px 7px 5px gray;
}

.item_name {
    font-size: 1.3rem;
    font-weight: bold;
    margin:1rem;
    
}

.item_tag_box {
    width:70%;
    height: 1rem;
    overflow:hidden;
}

.item_tag {
    font-size: 0.8rem;
    color: gray;
    display: inline-block;
}

.item_tag::before {
    content:'#';
}

.item_img > img {
    width:80%;
    margin-bottom: 2rem;
}

.item_like {
    font-size:2rem;
    position: absolute;
    bottom:0;
    right:0;
    padding:1rem;
}

.item_like::before {
    content: '🤍';
}

.item_like:hover::before {
    content: '❤️‍🔥';
}